__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*~ 
docs/_build
*.traj
.DS_Store
**/.DS_Store
.vscode/
*.log
*.json
config_Ar.yaml
config_Cu.yaml
options_pickle
